::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
    @include v95();
    width: 16px;
    height: 30px;
    background-color: $backgroundGrayV95;
}
::-webkit-scrollbar-corner {background-color: transparent;}
/* Buttons */ 
::-webkit-scrollbar-button:single-button {
    @include v95();
    display: block;
    height: 16px;
    width: 16px;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url("~@/assets/icon/scroll_up.png");
    background-position: center center;
    background-size: 7px 4px;
    background-repeat: no-repeat;
    &:active {
        @include v95Hover;
    }
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url("~@/assets/icon/scroll_down.png");
    background-position: center center;
    background-size: 7px 4px;
    background-repeat: no-repeat;
    &:active {
        @include v95Hover;
    }
}
/* Left */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
    background-image: url("~@/assets/icon/scroll_left.png");
    background-position: center center;
    background-size: 4px 7px;
    background-repeat: no-repeat;
    &:active {
        @include v95Hover;
    }
}
/* Right */
::-webkit-scrollbar-button:single-button:horizontal:increment {
    background-image: url("~@/assets/icon/scroll_right.png");
    background-position: center center;
    background-size: 4px 7px;
    background-repeat: no-repeat;
    &:active {
        @include v95Hover;
    }
}

.file-bar {
    width: 100%;
    background-color: rgba(191, 193, 192, 1);
    padding: 2px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
    .link {
      cursor: pointer;
      color: black;
      padding: 0px 4px 0px 4px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 18px;
      position: relative;
      text-decoration: none;
      &:after {
        content: "";
        position: absolute;
        bottom: 4px;
        left: 4px;
        width: 6px;
        height: 1px;
        background: #000000;
      }
      &:hover,
      &:active {
        background-color: $highlightV95;
        color: white;
        &:after {
          content: "";
          position: absolute;
          bottom: 4px;
          left: 4px;
          width: 6px;
          height: 1px;
          background: #ffffff;
        }
        > .submenu {
          display: block;
        }
      }
      .submenu {
        @include v95;
        color: initial;
        position: absolute;
        min-width: 122px;
        top: 100%;
        left: 0;
        display: none;
        padding: 2px;
        z-index: 10;
        user-select: none;
        background-color: rgba(191, 193, 192, 1);
      }
    }
  }