*::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}
*::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.3);
}
*::-webkit-scrollbar-thumb {
    @include v95();
    width: 16px;
    height: 30px;
    background-color: $backgroundGrayV95;
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
    @include v95();
    display: block;
    height: 16px;
    width: 16px;
  }
  /* Up */
  ::-webkit-scrollbar-button:single-button:vertical:decrement {
    &:active {
        @include v95Hover;
    }
  }
  /* Down */
  ::-webkit-scrollbar-button:single-button:vertical:increment {
    &:active {
        @include v95Hover;
    }
  }