$highlightV95: #000080;
$inactiveV95: #808080;
$backgroundGrayV95: rgb(191,184,191);
@font-face {
  font-family: "W95A";
  src: url("~@/assets/font/W95A.woff2") format("woff2"),
    url("~@/assets/font/W95A.woff") format("woff"),
    url("~@/assets/font/W95A.otf") format("otf");
}
@mixin v95() {
    background: rgb(198, 198, 198);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(254, 254, 254) rgb(10, 10, 10) rgb(10, 10, 10)
    rgb(254, 254, 254);
    box-shadow: rgb(223 223 223) 1px 1px 0px 0px inset,
    rgb(132 133 132) 0px 0px 0px 1px inset;
}
@mixin v95Hover() {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(10, 10, 10) rgb(254, 254, 254) rgb(254, 254, 254)
    rgb(10, 10, 10);
  box-shadow: rgb(223 223 223) 1px 1px 0px 0px inset;
}